#Logs
logs
*.log

#Dependencies
node_modules/
elm-stuff/
assets/
gh-pages/assets
gh-pages/assets/
# Yarn Integrity file
.yarn-integrity


#OS stuff
.DS_Store
.vscode
*.iml
/.idea

#Other stuff
documentation.json
gh-pages/*
!gh-pages/404.html
!gh-pages/index.html

