[submodule "gh-pages/space-shooter"]
	path = gh-pages/space-shooter
	url = ../platformer.git
	branch = assets/space-shooter
[submodule "gh-pages/top-down-adventure"]
	path = gh-pages/top-down-adventure
	url = ../platformer.git
	branch = assets/top-down-adventure
[submodule "gh-pages/platformer"]
	path = gh-pages/platformer
	url = ../platformer.git
	branch = assets/platformer
