language: elm
node_js: '12'

sudo: required
dist: trusty

elm-test: 0.19.0-rev6
elm-format: 0.8.1

cache:
  yarn: true
  directories:
    - node_modules
    - elm_cache_linux
    - elm_cache_osx
    - gh-pages/dist
env:
  global:
     - GAME_SOUNDS=""
     - NODE_ENV=production
  matrix:
    - GAME=MazePlatformer GAME_FILE="platformer/demo.json" GAME_FAVICON="platformer/favicon.png" GAME_SOUNDS="gh-pages/platformer/sounds"
    - GAME=RPG GAME_FILE="top-down-adventure/demo.json" GAME_FAVICON="top-down-adventure/favicon.png"
    - GAME=Shump GAME_FILE="space-shooter/demo.json" GAME_FAVICON="space-shooter/favicon.png"

#os:
#  - linux
#  - osx

before_install:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo add-apt-repository -y ppa:mc3man/trusty-media; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get update; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get install -y ffmpeg; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew update; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew install ffmpeg; fi
  - ffmpeg -hwaccels
  #  for Electron application
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export DISPLAY=:99.0; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh -e /etc/init.d/xvfb start; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sleep 3; fi
  #Elm cache folders for each OS
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export ELM_HOME=./elm_cache_linux; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export ELM_HOME=./elm_cache_osx; fi


before_script:
  - elm-format --validate . && elm-test #&& elm-test lib/elm-tiled && elm-test lib/elm-image

script:
  - elm make examples/${GAME}/Game.elm --optimize --output=./gh-pages/dist/${GAME}_bundle.js
  - elm make "examples/${GAME}/Build.elm" --optimize --output=./gh-pages/dist/${GAME}_encoder.js
  - jscodeshift -t transform.js ./gh-pages/dist/${GAME}_bundle.js
  - uglifyjs ./gh-pages/dist/${GAME}_bundle.js --compress "pure_funcs=[F2,F3,F4,F5,F6,F7,F8,F9,A2,A3,A4,A5,A6,A7,A8,A9],pure_getters" --output=./gh-pages/dist/${GAME}_bundle.js
  - prepack ./gh-pages/dist/${GAME}_bundle.js --inlineExpressions --out ./gh-pages/dist/${GAME}_bundle.js
  - terser ./gh-pages/dist/${GAME}_bundle.js ./gh-pages/script.js --compress 'keep_fargs=false,unsafe_comps,unsafe' --mangle --output=./gh-pages/dist/${GAME}_bundle.js
  - posthtml ./gh-pages/game.html -o ./gh-pages/dist/${GAME}.html -c posthtml.config.js
  - if [ "$GAME_SOUNDS" != "" ]; then audiosprite --format howler2 --loop Background --output ./gh-pages/dist/${GAME} "${GAME_SOUNDS}/*.+(mp3|wav)" -u /; fi
  - node build-assets.js
  - if [ "$GAME_SOUNDS" != "" ]; then rm ./gh-pages/dist/${GAME}.json; fi

jobs:
  fast_finish: true
  include:
    - stage: after_success
      before_install: skip
      before_script: skip
      script: echo "Build Landing"
      # Keep in mind to overwrite these here
      env: FOO=foo
    - stage: deploy
      before_install: skip
      before_script: skip
      script: echo Deploy
      # Keep in mind to overwrite these here
      env: FOO=foo
      deploy:
        provider: pages
        skip-cleanup: true
        github-token: $GITHUB_TOKEN
        keep-history: true
        local-dir: gh-pages/dist
        on:
          branch: master


#  elm make examples/${GAME}/Game.elm --optimize --output=./gh-pages/dist/${GAME}_bundle.js \
#  && elm make "examples/${GAME}/Build.elm" --optimize --output=./gh-pages/dist/${GAME}_encoder.js \
#  && jscodeshift -t transform.js ./gh-pages/dist/${GAME}_bundle.js \
#  && uglifyjs ./gh-pages/dist/${GAME}_bundle.js --compress "pure_funcs=[F2,F3,F4,F5,F6,F7,F8,F9,A2,A3,A4,A5,A6,A7,A8,A9],pure_getters" --output=./gh-pages/dist/${GAME}_bundle.js \
#  && prepack ./gh-pages/dist/${GAME}_bundle.js --inlineExpressions --out ./gh-pages/dist/${GAME}_bundle.js \
#  && terser ./gh-pages/dist/${GAME}_bundle.js ./gh-pages/script.js --compress 'keep_fargs=false,unsafe_comps,unsafe' --mangle --output=./gh-pages/dist/${GAME}_bundle.js \
#  && npx posthtml ./gh-pages/game.html -o ./gh-pages/dist/${GAME}.html -c posthtml.config.js \
#  && if [ "$GAME_SOUNDS" != "" ]; then audiosprite --format howler2 --loop Background --output ./gh-pages/dist/${GAME} "${GAME_SOUNDS}/*.+(mp3|wav)" -u /; fi \
#  && node build-assets.js \
#  && if [ "$GAME_SOUNDS" != "" ]; then rm ./gh-pages/dist/${GAME}.json; fi
