#Logs
logs
*.log

#Dependencies
node_modules/
elm-stuff/
assets/
gh-pages/assets
gh-pages/assets/

# Develop
examples/index.html
examples/bundle.js

# Yarn Integrity file
.yarn-integrity


#OS stuff
.DS_Store
.vscode
*.iml
/.idea

#Other stuff
documentation.json
